   <%= stylesheet_link_tag 'base.index', :media => "all" %>
   
    <div class="log">
        <div class="lo1box">
          <div class="lo1">
            <%= link_to "Log in", tweets_path, class: "circle" %>
          </div> 
        </div>
        <div class="lo2box">
          <div class="lo2">
            <%= link_to "Sign in", new_user_registration_path, class: "circle" %>
          </div>
        </div>
    </div>