.tweets-container {
    width: 90%;
    margin: 10px auto;
  }
  h3 {
    width: fit-content;

    margin: 1.8em;
    padding: 1em;
    border-radius: 10px;

    background-color: rgb(255, 218, 98);
  }
  .tweet {
    border-top: solid 3px rgb(255, 208, 122);
    background-color: #fff7c6;

    margin: 0.8em;
    padding: 5px;

  }
  .main-box {
    justify-content: space-between;
  }
  .right-container{
    display: flex;
    align-items: flex-end;
  }

  .r-c-part{
    display: block;
    padding:0px 5px 3px 5px;
   
  }
  #r-c-name,
  #r-c-body{
    font-size: 0.8em;
    padding-left: 2em;
    font-weight: 550;
  }
  #r-c-name{
    padding-left: 4em;
  }

  #r-c-igid{
    font-size: 1.15em;
    font-weight: 900;

    padding-left: 1em;
  }
  .r-c-message{
    font-size: 6px;
    font-weight: 600;
    text-decoration: none;
  }
  #rcm,
  #rcm2{

    padding-bottom: 1.15em;
  }

  #r-c-image{

    width: 5%;
    height: 6%;
  }
  img {
    width:50px;
    height:50px;
    max-width:100%;
    max-height:100%;

    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center center;  /* 横長画像の左上を基準に表示 */
         /* 複数の画像を横に並べたい場合 */
    object-fit: cover;     
    display: block;
}
