<!DOCTYPE html>
<html>
  <head>
    <title>Lapangan Sambang-Menyambung</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <body>
    <header>
      <h1 id="lsm-title">Lapangan Sambang-Menyambung</h1>
      <div class="header-list">
          
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
     <p>Copyright © Sota Tomiuchi All Rights Reserved.</p>
    </footer>
  </body>
</html>